.idea
.kube
.sass-cache
dist
tmp
.jshintrc
.gitignore
.gitattributes
.jshintignore
.prettierignore
.dockerignore
*.env
*.ejs
*.sql
*.bat
*.sh
*.pdf
*.docx
*.doc
*.ppt
*.pptx
*.txt
*.opts
*.jpg
*.png
*.bmp
*.gif
*.ico
*.svg
*.xls
*.xlsx
*.ttf
package.json
package-lock.json